<template>
  <div id="announcement">
    <user-list :list="posts" :user-Type="authorizedUser.userType" :user="authorizedUser.name" :state="state"></user-list>
    <message :name="authorizedUser.name" :post-type="'announcement'" :state="state"></message>
  </div>
</template>
<script>
import commonComponents from './../../../commonComponents';
import state from './../../../stateFactory';

export default{
  el(){
    return "#announcement";
  },
  components:{
    'user-list': commonComponents.lists,
    'message': commonComponents.message
  },
  data(){
    return{
      posts: {},
      authorizedUser: state.currentUser,
      state: state
    }
  },
  route:{
    activate(){
      var self = this;
      state.getAnnouncments().on('value',function(data){
        self.$set('posts',data.val());
      });
    }
  }

}
</script>
<style lang="sass">

</style>
