<template>
  <div id="dms">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-4">
        <drop-list :state="state" :user-Type="owner.userType" :user="owner.name"></drop-list>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <dm-list :message-List="dmconvos"></dm-list>
      </div>
      <div class="col-sm-8">
        <dm-messages v-if="selected" :messages="message.messages" :owner="owner.name" :receiver="getReceiver(message.party)" :key="key" :state="state" :is-new-message="isNewMessage" ></dm-messages>
      </div>
    </div>
  </div>
</template>
<script>
import commonComponents from './../../commonComponents';
import state from './../../stateFactory';

export default{
  el(){
    return "#dms"
  },
  components:{
    'dm-messages': commonComponents.dmMessage,
    'dm-list': commonComponents.dmList,
    'drop-list': commonComponents.dropList
  },
  data(){
    return {
      dmconvos: {},
      selected: false,
      message:{},
      owner: state.currentUser,
      key: '',
      state: state,
      isNewMessage: {
        check: false
      }
    }
  },
  route:{
    activate(transition){
      var self = this;
      state.getDmsList().once('value', function(data){
        var dmList = data.val();
        var tempObj = {};
        for(var prop in dmList ){
          var party = dmList[prop].party
          for(var convo in party){
            if(party[convo] === state.currentUser.name){
              tempObj[prop] = dmList[prop];
            }
          }
        }
        self.$set('dmconvos', tempObj);

        if(transition.to.query.user){
          self.selectedDm(transition.to.query.user);
        }
        transition.next();
      });
    }
  },
  methods:{
    getReceiver(members){
      for(var prop in members){
        if(members[prop] !== this.owner.name){
          return members[prop];
        }
      }
    },
    checkIfConvoExists(individual){
      var convos = this.dmconvos;
      for(var prop in convos){
        var members = convos[prop].party;
        for(var person in members){
          if(individual === members[person]){
            return true;
          }
        }
      }
      return false;
    },
    selectedDm(person){
      if(person === state.currentUser) return;
      var convoExist = this.checkIfConvoExists(person);
      if(convoExist){
        this.$broadcast('openExistingConvo', person);
      }else{
        this.$set('key', '');
        this.$set('message',{
          messages:{},
          party: {
            receiver: person
          }
        });
        this.isNewMessage.check = true;
        this.selected = true;
      }
    }
  },
  events:{
    'open-message'(prop){
      var self = this;
      state.getDmMessage(prop).on('value', function(data){
        self.$set('key', prop);
        self.$set('message',data.val());
        self.selected = true;
        console.log('test')
      })
    },
    'selected-dm'(person){
      this.selectedDm(person)
    },
    'new-dm-created'(key){
      var self = this;
      state.getDmMessage(key).on('value', function(data){
        self.$set('key', key);
        self.$set('message',data.val());
      })
      state.getDmsList().on('value', function(data){
        var dmList = data.val();
        var tempObj = {};
        for(var prop in dmList ){
          var party = dmList[prop].party
          for(var convo in party){
            if(party[convo] === state.currentUser.name){
              tempObj[prop] = dmList[prop];
            }
          }
        }
        self.$set('dmconvos', tempObj);
      });
    },
    'delete-dm'(key){
      state.deleteDm(key);
      debugger
    }
  }
}
</script>
<style lang="sass">

</style>
