<template>
  <div id="adminPost">
    <user-list :list="posts" :user-Type="authorizedUser.userType" :user="authorizedUser.name" :state="state"></user-list>
    <message :name="authorizedUser.name" :post-type="'post'" :state="state"></message>
  </div>
</template>
<script>
import commonComponents from './../../commonComponents';
import state from './../../stateFactory';

export default{
  el(){
    return '#posts'
  },
  components: {
    'user-list': commonComponents.lists,
    'message': commonComponents.message
  },
  data(){
    return{
      authorizedUser: state.currentUser,
      posts: {},
      state: state,
    }
  },
  route:{
    activate(){
      var self = this;
      state.getUsersPosts().on('value',function(data){
        if(data.val()) self.$set('posts',data.val());
      });
    }
  }
}
</script>
<style lang="sass">

</style>
