<template>
  <div id="userFeeds">
    <user-list :list="posts" :user-Type="authorizedUser.userType" :user="authorizedUser.name" :state="state"></user-list>
  </div>
</template>
<script>
import commonComponents from './../../commonComponents';
import state from './../../stateFactory';

export default{
  el(){
    return "#userFeeds";
  },
  components: {
    'user-list': commonComponents.lists
  },
  data(){
    return{
      posts: {},
      authorizedUser: state.currentUser,
      state: state
    }
  },
  route:{
    activate(){
      var self = this;
      this.state.getAllPosts().on('value',function(data){
        self.$set('posts',data.val());
      });
    }
  }
}
</script>
<style lang="sass">

</style>
