<template>
  <div id="dmlist">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="list-group">
          <a class="list-group-item" v-for="(key, item) in messageList" @click.prevent="selectedDM(key)">
            <p>{{getParty(key,item.party)}}</p>
            <span class="badge" @click="deleteDm(key)">fwe</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  el(){
    return "#dmlist";
  },
  props:{
    messageList:{
      type: Object,
      required: true
    }
  },
  data(){
    return{
      parties: {}
    }
  },
  methods: {
    selectedDM(key){
      this.$dispatch('open-message', key);
    },
    getParty(key,item){
      var users = "";
      var partylist = [];
      for(var prop in item){
        partylist.push(item[prop]);
        users+= item[prop] + " & "
      }

      this.parties[key] = partylist;
      var lastAmp = users.lastIndexOf('&');
      return users.substring(0,lastAmp);
    },
    deleteDm(key){
      this.$dispatch('delete-dm', key);
    }
  },
  events: {
    'openExistingConvo'(person){
      var currentConvos = this.parties;
      for(var prop in currentConvos){
        var key = currentConvos[prop].filter(isPerson);
        if(key.length > 0){
          this.$dispatch('open-message', prop);
        }
      }
      function isPerson(individual){
        return person === individual;
      }
    }
  }
}
</script>
<style lang="sass">
#dmlist{
  .list-group{
    a{
      cursor: pointer;
      position: relative;
      span{
        position: absolute;
        right: 6%;
        top: 30%;
        &:hover{
          background-color: red;
        }
      }
    }
  }
}
</style>
