<template>
  <div id="dmmessages">
    <div class="panel panel-default">
      <div class="panel-heading">Dm Between {{owner}} &amp; {{receiver}}</div>
      <div class="panel-body">
        <div class="list-group">
          <a class="list-group-item" v-for="message in messages">
            <div class="align-right" v-if="determineOwner(message)">
              <p>{{message.message}} : {{message.owner}}</p>
              <h6>{{message.date | date}}</h6>
            </div>
            <div class="align-left" v-else>
              <p>{{message.owner}} : {{message.message}} </p>
              <h6>{{message.date | date}}</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="message" placeholder="Message" v-model="message">
        </div>
        <button type="submit" class="btn btn-default" @click.prevent="submit()">submit</button>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  el(){
    return "#dmmessages";
  },
  props:{
    messages: {
      type: Object,
      required: true
    },
    owner:{
      type: String,
      required: true
    },
    receiver: {
      type: String,
      required: true
    },
    key:{
      type: String,
      required: true
    },
    state:{
      type: Object,
      required: true
    },
    isNewMessage: {
      type: Object,
      required: true
    }
  },
  data(){
    return{
      message: ''
    }
  },
  methods:{
    determineOwner(message){
      return message.owner === this.owner;
    },
    submit(){
      if(this.message !== ''){
        var getTime = new Date;
        var messageObj = {
          date: getTime.getTime(),
          owner: this.owner,
          message: this.message
        }
        if(!this.isNewMessage.check){
          this.state.submitDms(this.key,messageObj);
        }else{
          var newDm = {
            messages:{},
            party: {
              owner: this.owner,
              receiver: this.receiver
            },
            startDate: getTime.getTime()
          }
          var key = this.state.createNewDm(newDm,messageObj);
          this.$dispatch('new-dm-created', key);
          this.isNewMessage.check = false;
        }
        this.message = '';
      }
    }
  }
}
</script>
<style lang="sass">
#dmmessages{
  .list-group{
    .list-group-item{
      position: relative;
      h6{
        color: #E0E2E4;
      }
      .align-left{
        p{
          text-align: left;
        }
        h6{
          text-align: right;
        }
      }
      .align-right{
        p{
          text-align: right;
        }
      }
    }
  }
}
</style>
