<template>
  <div id="droplist">
    <form >
      <input type="button" name="name" class="form-control" v-model="user" disabled>
      <select class="form-control" v-model="selected" @change="getSelected()">
        <option v-for="option in options" v-bind:value="option">
          {{option}}
        </option>
      </select>
    </form>
  </div>
</template>
<script>
export default{
  el(){
    return "#droplist";
  },
  props:{
    state: {
      type: Object,
      required: true
    },
    userType:{
      type: String
    },
    user: {
      type: String,
      required: true
    }
  },
  created(){
    var self = this;
    if(self.userType === 'admin'){
      self.state.getSubscriptions(self.userType).on('value', function(data){
            var subscripObj = data.val();
            for(var prop in subscripObj){
              self.$set('options', subscripObj[prop].subscribed);
              break;
            }
      })
    }else{

    }
  },
  data(){
    return{
      selected: '',
      options: {}
    }
  },
  methods: {
    getSelected(){
      this.$dispatch('selected-dm', this.selected);
    }
  }
}
</script>
<style lang="sass">

</style>
