<template>
  <div id="lists">
    <div class="list-group" v-for="(key, item) in list" :class="{'isAnnouncement': isAnnouncement(item)}">
      <a class="list-group-item" :class="{'isOwner': isTheOwnerOfPost(item)}">
        <h4 class="list-group-item-heading">{{item.message}}</h4>
        <p class="list-group-item-text">{{item.owner}}</p>
        <p class="list-group-item-text">{{item.date | date}}</p>
        <button class="badge" @click.prevent="deletePost(key,item)" :disabled="isTheOwnerOfPost(item)">14</button>
        <button class="badge" @click.prevent="dmUser(key,item)">DM</button>
      </a>
    </div>
  </div>
</template>
<script>
export default{
  el(){
    return "#lists";
  },
  props: {
    list: {
      type: Object,
      required: true
    },
    userType: {
      type: String,
      required: true
    },
    user:{
      type: String,
      required: true
    },
    state:{
      type: Object,
      required: true
    }
  },
  methods:{
    isAnnouncement(post){
      return post.type === 'announcement';
    },
    isTheOwnerOfPost(post){
      return this.user === post.owner || this.userType === 'admin';
    },
    deletePost(key,post){
      if(this.isTheOwnerOfPost(post)){
        this.state.deletePost(key);
      }
    },
    dmUser(key,post){
      console.log(post)
      console.log(this.$router)
      this.$router.go({
        path: "dms",
        query:{
         user: post.owner
        }
      })
    }
  }
}
</script>
<style lang="sass">
  #lists{
    .isOwner{
        color: red;
        h4{
          color: red;
        }
    }
    .isAnnouncement{
      color: purple;
      h4{
        color: purple;
      }
      .isOwner{
        color: orange;
        h4{
          color: orange;
        }
      }
    }
  }
</style>
