<template>
  <div id="message">
    <form>
      <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" id="message" placeholder="Message" v-model="message">
      </div>
      <button type="submit" class="btn btn-default" @click.prevent="submit()">Submit</button>
    </form>
  </div>
</template>
<script>
export default{
  el(){
    return "#message";
  },
  props:{
    name: {
      type: String,
      required: true
    },
    postType: {
      type: String,
      required: true
    },
    state: {
      type: Object,
      required: true
    }
  },
  data(){
    return{
      message: ''
    }
  },
  methods:{
    submit(){
      var time = new Date;
      var message = {
        message: this.message,
        date: time.getTime(),
        owner: this.name,
        type: this.postType
      }
      this.state.submitPost(message);
      this.message = "";
    }
  }
}
</script>
<style lang="sass">

</style>
