<template>
  <div id="modal">
    <div v-if="isLogin()">
      <form>
        <div class="form-group">
          <label for="userName">UserName</label>
          <input type="text" class="form-control" id="userName" placeholder="UserName" v-model="userName" >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" v-model="password">
        </div>
        <button type="submit" class="btn btn-default" @click.prevent="authenticate()">Submit</button>
      </form>
    </div>
    <div v-else>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" v-model="name" >
        </div>
        <div class="form-group">
          <label for="userName">UserName</label>
          <input type="text" class="form-control" id="userName" placeholder="UserName" v-model="userName" >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" v-model="password">
        </div>
        <button type="submit" class="btn btn-default" @click.prevent="authenticate()">Submit</button>
      </form>
    </div>
  </div>
</template>
<script>
import config from "../config.js";
import auth from "../authentication";
export default{
  el(){
    return "#modal";
  },
  props: ['activated'],
  data(){
    return{
      userName: "",
      password: "",
      name: ""
    }
  },
  methods: {
    isLogin(){
      this.resetForm();
      return this.activated === 'login';
    },
    resetForm(){
      this.userName = "";
      this.name = "";
      this.password = "";
    },
    validate(action){
      if(action === 'login'){
        return this.userName === "" || this.password === "";
      }else if (action === 'signup'){
        return this.userName === "" || this.password === "" || this.name === "";
      }
    },
    authenticate(){
      if(this.validate(this.activated)) return;
      if(this.activated === 'login'){
        auth.authenticate(this.userName,this.password,this);
      }else if(this.activated === 'signup'){
        auth.signup(this.userName,this.password,this.name,this);
      }
    }
  }
}
</script>
<style lang="sass">

</style>
