<template>
    <div id="users">
        <div class="row" v-for="users in userList">
            <div class="col-sm-3" v-for="user in users">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{user}}</h3>
                        <p><a class="btn btn-primary" role="button" @click.prevent="getUserinfo(user)">Info</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
  el(){
      return "#users";
  },
  data(){
    return{
      userList: []
    }
  },
  methods:{
      parseData(data){
          var tempArr = [];
          var count = 0;
          var objLength = Object.keys(data).length;
          for(var prop in data){
              if((count + 1) === objLength){
                  tempArr.push(data[prop]);
                  this.userList.push(tempArr);
              }else if(count % 4 !== 0 || count === 0){
                  tempArr.push(data[prop]);
              }else if(count % 4 === 0){
                  this.userList.push(tempArr);
                  tempArr = [];
                  tempArr.push(data[prop]);
              }
              count++;
          }
      },
      getUserinfo(name){
          this.$dispatch('userInfo', name);
      }
  },
  events:{
    'usersList': function(list){
      this.parseData(list);
    }
  }
}
</script>
<style lang="sass">
#users{
  h3{
    text-align: center;
  }
  p{
    display:flex;
    justify-content: center;
  }
}
</style>
