<template>
  <div id="admin">
    <div class="container">
      <div class="jumbotron">
        <h1>Admin View</h1>
      </div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li v-link-active v-for="nav in navList">
                <a v-link="{ path: nav.link}">{{nav.name}}</a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <router-view></router-view>
    </div>
  </div>
</template>
<script type="text/javascript">
export default {
  el(){
    return "#admin";
  },
  ready(){
    var currentRoute = this.$router._currentRoute;
    this.$router.go(currentRoute.path + "/home");
  },
  data(){
    var currentRoute = this.$router._currentRoute.path;
    return{
      navList: [
        {
          name: "Admin home",
          link: currentRoute + "/home"
        },
        {
          name: "Users List",
          link: currentRoute + "/usersLists"
        },
        {
          name: "Users Feeds",
          link: currentRoute + "/usersFeeds"
        },
        {
          name: "Announcements",
          link: currentRoute + "/announcements"
        },
        {
          name: "Dm's",
          link: currentRoute + "/dms"
        },
        {
          name: "Admin Posts",
          link: currentRoute + "/adminPosts"
        },
      ]
    }
  }
}
</script>
<style lang="sass">

</style>
