<template>
  <div id="app" class="container">
    <div class="jumbotron">
      <h1>Welcome To Vue Training</h1>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="btn" @click="activate('login')">Login</button>
        <button type="button" class="btn" @click="activate('signup')">SignUp</button>
      </div>
    </div>
    <landing-modal v-if="activated" :activated="buttonAction"></landing-modal>
  </div>
</template>

<script>
import commonComponents from "./../commonComponents";

export default {
  el(){
    return "#app";
  },
  components:{
    "landing-modal": commonComponents.modalComponent
  },
  data () {
    return {
      // note: changing this line won't causes changes
      // with hot-reload because the reloaded component
      // preserves its current state and we are modifying
      // its initial state.
      msg: 'Hello Vue!',
      buttonAction: "",
      activated: false
    }
  },
  methods: {
    activate (name){
        this.buttonAction = name;
        this.activated = true;
    }
  }

}
</script>

<style lang="sass">
body {
  font-family: Helvetica, sans-serif;
}
#app{
  h1{
    font-size: 39px;
  }
}
</style>
