<template>
  <div id="userLists">
    <users-list></users-list>
    <div id="uniqueUser" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{userInfo.name}}</h4>
          </div>
          <div class="modal-body">
            <posts-list v-if="selected" :list="selectedUsersPost" :user-Type="userInfo.userType" :user="state.currentUser.name" :state="state"></posts-list>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" @click="hideList()">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
</template>
<script>
import commonComponents from './../../../commonComponents';
import state from './../../../stateFactory';
import $ from 'jquery';

export default{
  el(){
    return "#userLists";
  },
  components:{
    'users-list': commonComponents.users,
    'posts-list': commonComponents.lists
  },
  data(){
    return{
      subscription: {},
      userInfo: {},
      selectedUsersPost: {},
      state: state,
      selected: false
    }
  },
  route:{
    activate(transition){
      var self = this;
      // this returns one useraccount
      state.getSubscriptions(state.currentUser.userType).on('value', function(data){
        var userObj = data.val();
        for(var prop in userObj){
          self.$set('subscription', userObj[prop].subscribed);
          self.$broadcast('usersList', self.subscription);
          transition.next();
        }
      });
    }
  },
  methods:{
    hideList(){
      this.selected = false;
    }
  },
  events:{
    'userInfo'(name){
      var self = this;
      var jquery = $;
      state.getUserDetail(name).on('value', function(data){
        var userObj = data.val();
        for(var prop in userObj){
          self.$set('userInfo',userObj[prop]);
          break;
        }
        state.getUsersPosts(name).on('value', function(data){
          if(!data.val()){
            self.$set('selectedUsersPost',{});
          }else{
            self.$set('selectedUsersPost',data.val());
          }
          self.selected = true;
          jquery('#uniqueUser').modal('toggle');
        })
      });
    }
  }
}
</script>
<style lang="sass">

</style>
